.sign-in-modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(#666, 0.8);
  opacity: 0;
  transition: opacity .2s ease-out;
  //z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  form[name=sign-in-form] {
    max-width: 90%;
    width: 400px;
    padding: 1em .8em;
    background-color: rgba(#333, .7);
    position: relative;
    //閉じるボタン
    .menu-close-btn{
      position: absolute;
      top: 20px;
      right: 20px;

      font-size: 2em;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      color: #0d6aad;
      background-color: rgba(#aaa, .6);
    }
    .form-header {
      display: flex;
      .left {
        padding: .8em;
        img {
          width: 50px;
        }
      }
      .right {
        margin-left: 1em;
        flex: auto;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: 1.3em;
          margin-bottom: .2em;
          color: inherit;
        }
        p {
          color: inherit;
        }
      }

    }
  }
}

/* bodyにis-menu-openクラスが付いたらモーダル表示 */
body.is-menu-open {
  .sign-in-modal {
    opacity: 1;
    pointer-events: auto;
    display: flex;
    z-index: 2;
  }
}

/* bodyにis-menu-openクラスが付いたら#contentをぼかしフィルター付与 */
body.is-menu-open #wrap {
  pointer-events: none;
  filter: blur(8px);
  position: fixed;

  transition: all .2s ease-out;
}