@charset "utf-8";
/***** 汎用 *****/
* {
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
        Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    box-sizing: border-box;
}

html {
   font-size: 13px;
   color: white;
}

html, body{
    height: 100%;
}
#wrap{
   min-height: 100%;
}

body, div#wrap {
    position: relative;
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.hover-opa{
   opacity: 1;
   z-index: 2;
   transition: opacity .3s ease;
}
.hover-opa:hover{
   opacity: .7;
}
.block{
   display: block;
}
.is-hide{
   display: none;
}
.btn{
   cursor: pointer;
   display: inline-block;
   text-align: center;
}
.selected{
    background-color: #F2135C;
    color: white!important;
    transition: background-color .3s ease,
    color .3s ease;
}
.current-step{
    background-color: #FFD8E5!important;
}