@charset "utf-8";
body{
   background-color: #0C0F1B;
}
#wrap{
   display: flex;
}
/*main-aside*/
aside#main-nav-aside{
   position: fixed;
   height: 100%;
   width: 110px;
   background: #0C0F1B;
   color: white;
   border-right: 1px solid rgba(149, 152, 154, .4);
}
#main-nav-aside .logo{
   height: 70px;
   background-color: white;
   text-align: center;
}
#main-nav-aside .logo img{
   height: 70px;
   padding: 10px 0;
}
#main-aside-ghost{
   min-width: 110px;
   max-width: 110px;
   height: 100%;
   flex: auto;
}
h1#main-logo{
   display: inline-block;
   margin-right: 1.3em;
}
#main-logo a{
   color: white;
   font-size: 2em;
   
   display: block;
   height: 100%;
   -ms-align-items: center;
   align-items: center;
   justify-content: center;
}
#main-nav ul li{
   height: 90px;
   
   border-top: 1px solid rgba(149, 152, 154, .3);
}
#main-nav ul li:last-child{
   border-bottom: 1px solid rgba(149, 152, 154, .3);
}
#main-nav ul li a{
   height: 100%;
   display: flex;
   flex-direction: column;
   -ms-align-items: center;
   align-items: center;
   justify-content: center;
   
   color: white;
   font-size: 1.2em;
}

#main-nav ul li a span{
   display: block;
   font-size: .9em;
}
#main-nav ul li a i{
   color: #F2135C;
   font-size: 38px;
   margin-bottom: .1em;
   line-height: 40px;
}
#cont{
   min-height: 100%;
   flex: auto;
   position: relative;
   z-index: 0;
}
/*main-header*/
#main-header{
   position: fixed;
   z-index: 10;
    
   width: calc(100% - 100px);
   height: 70px;
   background-color: rgba(55,55,65,.7);
}
#main-header-ghost{
   height: 70px;
   width: 100%;
}
#mov-search-form{
   display: flex;
   -ms-align-items: center;
   align-items: center;
   height: 100%;
}
#mov-search-form input[name=movtitle]{
   border-radius: 1.6em;
   border: none;
   padding: .6em 1.2em ;

   width: 20em;
}
#mov-search-form .search-area{
   position: relative;
   display: inline-block;
}
.search-area i.fa{
   position: absolute;
   right: 10px;
   top: 8px;
   color: #95989A;
    pointer-events: none;
}
#mov-search-form>div{
   flex: auto;
}
#mov-search-form .left{
   text-align: left;
   padding-left: 2em;
   display: flex;
   -ms-align-items: center;
   align-items: center;
}
#mov-search-form .right{
   padding-right: 2em;
   text-align: right;
}

#mov-search-form .right button{
   color: white;
   padding: .6em 3em;
   border: none;
   border-radius: 1.6em;
   margin-left: 2em;
}
#login-btn{
   background-color: #F2135C;
}
#reg-btn{
   background-color: #3A579B;
}
section.pan-list{
   margin-bottom: 2em;
}
#main-area{
   padding: 2em;
   position: relative;
}
footer{
   margin-top: 100px;
   text-align: center;
}