main.reserve{
  form{
    padding: 2rem 3rem;
    background-color: $sub-color;
  }
  .page-title {
    text-align: center;
    margin-bottom: 2em;
    h2 {
      font-size: 2em;
    }
    h3 {
      font-weight: normal;
      border-bottom: 2px solid #F2135C;
      padding: .6em 3em 1em;
      display: inline-block;
    }
  }
  .step-bar {
    font-size: 0;
    margin-bottom: 30px;
    text-align: center;
    li {
      font-size: 12px;
      width: 160px;
      text-align: center;
      display: inline-block;
      padding: 1.6em 0;

      background-color: white;
      color: #95989A;
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
  .mov-info{
    padding: 2em 0;
    display: flex;
    img{
      width:200px;
      height: 300px;
    }
    .text-area{
      flex:auto;
      display: flex;
      flex-direction: column;
      padding-left: 48px;
      h4{
        font-size: 3em;
        font-weight: normal;
        color: #95989a;
        margin-bottom: 20px;
      }
      .detail{
        display: flex;
        flex-direction: row;
        padding-left: 3em;
        margin-bottom: 1.1em;
        &>div{
          display: flex;
          flex-direction: column;
          flex: auto;
        }
        b{
          font-size: 1.5em;
          margin-bottom: 10px;
        }
      }
    }
  }
  //デフォルトのボタン
  .btn-area{
    text-align: center;
    button{
      color: white;
      background-color: inherit;
      border: 1px solid white;
      font-size: 1.1rem;
      width: 120px;
      padding: .8rem 0;
      transition: background-color .2s ease,
      border .2s ease;
      &:first-of-type{
        margin-right: 2rem;
      }
      &:hover{
        background-color: $main-color;
        border: $main-color 1px solid;
      }
    }
  }
}