@charset "utf-8";
main.reserve.ticket {
  .zaseki-list {
    width: 480px;
    margin: 0 auto;
    text-align: center;
    .row {
      margin-bottom: 1.4rem;
    }
    .seat {
      display: inline-block;
      width: 30px;
      height: 30px;
      &:not(:last-of-type){
        margin-right: 1rem;
      }
      input {
        display: none;
        &:checked + label {
          svg{
            fill: $brand-primary;
          }
        }
      }
      label {
        display: block;
        cursor: pointer;
        svg{
          fill: white;
        }
      }
    }
  }
  //old css
  .reserve-info {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
  }
  .reserve-area {
    .text {
      margin-bottom: 2em;
      h3 {
        text-align: center;
        margin-bottom: 1em;
      }
      p{
        margin-bottom: .7rem;
        text-align: center;
      }
    }
  }
  .btn-area{
    margin-top: 3rem;
  }

  h4.screen-info {
    text-align: center;
    margin-bottom: 2em;
  }
}

.mov-info{
  .text-area{
    ul{
      height: 300px;
      li{
        padding: 1.2rem 0;
        border-bottom : 2px dotted #9CAFC3;
        label{
          display: inline-block;
          width: 80px;
          margin-left: 2rem;
        }
      }
    }
  }
}

.ticket-list{
  .t-head{
    padding: 1.2rem 0;
    border-bottom : 2px solid #9CAFC3;
  }
  ul{
    li{
      padding: 1.2rem 0;
      &:last-child{
        border-bottom : 2px solid #9CAFC3;
      }
      &:not(:last-child){
        border-bottom : 2px dotted #9CAFC3;
      }
    }
  }
  .no{
    display: inline-block;
    width: 150px;
    margin-left: 100px;
  }
  .seat{
    display: inline-block;
    width: 200px;
  }
  .ticket{
    display: inline-block;
    width: 200px;
  }
}
