@charset "utf-8";
main.reserve.ticket {
  .zaseki-list {
    width: 480px;
    margin: 0 auto;
    text-align: center;
    .row {
      margin-bottom: 1.4rem;
    }
    .seat {
      display: inline-block;
      width: 30px;
      height: 30px;
      &:not(:last-of-type){
        margin-right: 1rem;
      }
      input {
        display: none;
        &:checked + label {
          svg{
            fill: $brand-primary;
          }
        }
      }
      label {
        display: block;
        cursor: pointer;
        svg{
          fill: white;
        }
      }
    }
  }
  //old css
  .reserve-info {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
  }
  .reserve-area {
    padding: 2.5em 4em;
    background-color: $sub-color;
    .text {
      margin-bottom: 2em;
      h3 {
        text-align: center;
        margin-bottom: 1em;
      }
      p{
        margin-bottom: .7rem;
        text-align: center;
      }
    }
  }
  .btn-area{
    margin-top: 3rem;
  }

  h4.screen-info {
    text-align: center;
    margin-bottom: 2em;
  }
}