@charset "utf-8";
main.reserve.user {
  .reserve-area {
    .text {
      text-align: center;
    }
    .user-info {
      margin-top: 3rem;
      ul {
        border-top: 2px solid #9CAFC3;
        border-bottom: 2px solid #9CAFC3;
        li {
          padding: 1.2rem 0;
          label {
            display: inline-block;
            width: 200px;
            margin-left: 170px;
          }
        }
        li:not(:last-child) {
          border-bottom: 2px dotted #9CAFC3;
        }
        input {
          width: 300px;
          padding: 0.4rem;
          border-radius: 3px;
          border: none;
        }
      }
    }
    .btn-area {
      margin-top: 3rem;
    }
  }
}
